/* tablet and mobile */
@media (max-width: 1023px) {
    .hide-on-tablet-mobile {
        display: none;
    }
    
    :root {
        --hearder-height: 68px;
        --navbar-height: 0px;
    }
    .header {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
    }

    .header__cart {
        width: 80px;
        text-align: right;
    }
    .header__cart-list {
        position: fixed;
        top: var(--hearder-height);
        width: 100%;
        right: 0;
        /* padding: 0 calc((100% - 644px) / 2); */
    }
    .header__cart-list::before {
        display: none;
    }
    .app__conterner {
        margin-top: calc(var(--hearder-height) + var(--header-sort-bar-height));

    }
    .header__sort-bar {
        display: flex;
    }
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
}

/* mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
    .header__cart,
    .header__logo {
        width: unset;
    }
    .header__search {
        position: fixed;
        top: var(--hearder-height);
        left: 0;
        right: 0;
        height: 46px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        z-index: 1;
        padding: 0 16px;
        animation: searchMobile linear 0.3s;
        display: none;
    }

    .header__search-history {
        position: fixed;
        left: 0;
        top: calc(var(--hearder-height) + var(--header-sort-bar-height));
        width: 100%;
    }
    .header__mobile-search {
        display: block;
    }
    .pagiation-item {
        margin: 0 0;
    
    }
    .category {
        display: none;
    }
    .app__conterner {
        overflow: hidden;
    }
    @keyframes transform {
        from {
            opacity: 0;
            transform: translateY(100%)
        }
        to {
            opacity: 1;
            transform: translateY(0)

        }
    }
}